@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap');
@import './header.css';
@import './about.css';
@import './servicios.css';
@import './clientes.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 92%;
    margin: 0 auto;
}

footer {
    background: #0D7DFC;
}

#logistics {
    display: none;
}

.info-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-footer .section {
    width: 100%;
    margin-top: 20px;
}

.info-footer .section h4 {
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid #68E1FD;
    margin-bottom: 20px;
}

.redes {
    margin-top: 20px;
}

.info-footer .section li {
    color: white;
    list-style: none;
    padding: 5px;
    font-weight: bold;
}

.info-footer .section li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

.redes-sociales {
    display: flex;
    justify-content: space-around;
}

.redes-sociales li {
    font-size: 20px;
}


@media only screen and (min-width: 600px) {


    footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logistics {
        display: block;
        width: 30%;
        height: 450px;
    }

    .info-footer {
        width: 70%;
        justify-content: space-around;
    }

    .info-footer .section {
        width: 30%;
        margin-right: 20px;
    }

}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}


#productos h2 {
    width: 100%;
    text-align: center;
}

#productos ul {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#productos ul li {
    list-style: none;
    width: 80%;
    margin: 0 auto 10px auto;
    transition: all 0.3s ease;
}

#productos ul li:hover {
    transform: scale(1.1);
}


#productos ul li a {
    display: flex;
}

.system-icon img {
    max-width: 2.5em;
    max-height: 2.5em;
}

li a .system_icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    margin-right: 1em;
    padding: .5em;
}

#productos ul li a {
    display: -webkit-box;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .75em;
    text-align: left;
    text-decoration: none;
    color: #090910;
    background: #fff;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}

#productos ul li a .system_info {
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 1em;
    font-family: scandia-web, sans-serif;
    padding: 10px;
}


.system_info h5 {
    color: #68E1FD;
    margin-bottom: 5px;
}

.system_info p {
    font-size: 12px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.imgr {
    -webkit-animation: 50s rotate linear infinite;
    animation: 50s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.imgr {
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25% 95%;
    right: -330px;
}

.imgl {
    -webkit-animation: 50s rotate linear infinite;
    animation: 50s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.imgl {
    position: absolute;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25% 95%;
    left: 330px;
}

.faq-img {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;

}

@media only screen and (min-width: 600px) {
    #productos ul li {
        width: 30%;
        margin-right: 10px;
    }
}